var requireConfig = {
	baseUrl: "app/js",
	paths: {
	  jquery: '../../lib/jQuery/jquery-2.1.0',
	  underscore: '../../lib/underscore/underscore',
	  angular: '../../lib/angular/angular',
	  angularRoute: '../../lib/angular/angular-route',
	  angularAnimate: '../../angular/angular-animate',
	  requirelib: '../../lib/requirejs/require',
	  bootstrap: '../../lib/bootstrap/dist/js/bootstrap',
	  uiBootstrap: '../../lib/ui-bootstrap/ui-bootstrap-tpls-0.10.0',
	  ngStrap: '../../lib/angular-strap/angular-strap',
	  ngStrapTpl: '../../lib/angular-strap/angular-strap.tpl',
	  loadingBar: '../../lib/angular-loading-bar/loading-bar',
	  toaster: '../../lib/angularjs-toaster/toaster'
	},
	shim: {
		jquery: {exports: ['jQuery', '$']},
		underscore: {exports: '_' },
		angular: {
			deps: ['jquery'],
			exports: 'angular'
		},
		angularRoute: ['angular'],
		angularAnimate: {
			deps: ['angular']
		},
		bootstrap: {
			deps: ['angular']
		},
		uiBootstrap: {
			deps: ['angular']
		},
		ngStrap: {
			deps: ['angularAnimate']
		},
		ngStrapTpl: {
			deps: ['ngStrap']
		},
		loadingBar: {
			deps: ['angular']
		},
		toaster: {
			deps: ['angularAnimate']
		}
	},
	optimize: 'none',
	packages: ["controllers", "directives", "filters", "services"],
	include: ["requirelib"],
	priority: [
		"angular"
	],
	name: "main"
};

if(typeof(module) !== 'undefined'){
	module.exports = {
		requireConfig: requireConfig
	};
}